.logo{
    height: 50px;
    margin-top: 2px;
    margin-left: 15px;
    
}
.header-title{
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: center !important;
}