<div class="main-view">
  <div class="header">
    <header class="d-flex align-items-center"></header>
  </div>
  <div class="main-content d-flex row gx-0" >
    
    <div class="col-xl-8 col-lg-12 col-md-12 d-flex flex-column" >
      <div class="feature-statistics mt-1 "  >
        <mat-card class="custom-shadow" >
        <features></features>
      </mat-card>
      </div>
      <div class="features-graphs " >
        <!-- <mat-card class="custom-shadow "> -->
        <features-graphs></features-graphs>
      <!-- </mat-card> -->
      </div>
    </div>
    <div class="col-xl-4 col-lg-12 mt-xl-0 col-md-12 mt-lg-3 mt-md-3" >
      <mat-card class="custom-shadow m-1 kpi-section">
        <dpt-kpis class="h-100" ></dpt-kpis>
       
      </mat-card>
      
    </div>
  </div>
</div>



<!-- hello to the git  -->